[Desktop Entry]
Name=COSMIC Store
Comment=Application store for the COSMIC desktop
Exec=cosmic-store %u
Terminal=false
Type=Application
StartupNotify=true
Icon=com.system76.CosmicStore
Categories=COSMIC;System;PackageManager;
Keywords=App;Software;Store;Shop;
MimeType=application/x-debian-package;application/vnd.debian.binary-package;application/vnd.flatpak.ref;x-scheme-handler/appstream;x-scheme-handler/mime;
