#TODO: more build-out, desktop actions, translations?
[Desktop Entry]
Name=COSMIC App Store
Name[pl]=Sklep z Apkami COSMIC
Name[pt-BR]=Loja de Apps do COSMIC
Exec=cosmic-store %u
Terminal=false
Type=Application
StartupNotify=true
Icon=com.system76.CosmicStore
Categories=COSMIC;System;PackageManager;
Keywords=App;Software;Store;
Keywords[pl]=Aplikacje;Soft;Oprogramowanie;Sklep;
Keywords[pt-BR]=App;Aplicativos;Software;Programas;Loja;
MimeType=x-scheme-handler/appstream;
