Source: cosmic-store
Section: admin
Priority: optional
Maintainer: Jeremy Soller <jeremy@system76.com>
Build-Depends:
    debhelper-compat (=13),
    git,
    just (>= 1.13.0),
    libflatpak-dev,
    libssl-dev,
    pkg-config,
    rust-all,
Standards-Version: 4.6.2
Homepage: https://github.com/pop-os/cosmic-store

Package: cosmic-store
Architecture: amd64 arm64
Depends:
    appstream-data-pop,
    apt-config-icons,
    apt-config-icons-hidpi,
    apt-config-icons-large,
    apt-config-icons-large-hidpi,
    ${misc:Depends},
    ${shlibs:Depends}
Description: Cosmic App Store
